:root {
    --dark-color1: #050706;
    --dark-color2: #02090F;
    --dark-color3: #000000;
    --dark-color4: #252627;
    --white-color1: #F4F4F4;
    --white-color2: #FFFDF8;
    --white-color3: #C4C4C4;
    --white-color4: #D5D5D5;
    --white-color5: #FFFFFF;
    --white-color6: #E8E8E8;
    --white-color7: #E9E9E9;
    --yellow-color1: #FCF43D;
    --gray-color1: #68737F;
    --blue-color1: #4C7AEF;
    --red-color1: #DF2424;
}